body{
    margin: 0 auto;
    padding: 0;
    background-color: black;
    background-attachment: fixed;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* home section */
header{
    width: 90%;
    height: 80px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logo{
    color: rgb(221, 221, 146);
    font-size: 20px;
    font-weight: bold;
}
.hamburger{
    display: none;
}
.nav-bar ul {
    display: flex;
    list-style: none;
}
.nav-bar ul li a {
    display: block;
    color: rgb(221, 221, 146);
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    text-decoration: none;
}
.nav-bar ul li a:hover{
    color: black;
    background: white;
}
.nav-bar ul li a.active {
    color: black;
    background: white;
}


.container{
    width: 90%;
    margin: 0 auto;
    
/* home page */
.home__page{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-buttom: 50px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.personal__portofolio{
    width: 250px;
    /* height: 300px;  */
    border-style: groove;
    border-color: rgb(221, 221, 146);
    border-radius: 30px;
}
.name{
    color: rgb(221, 221, 146);
}
.left__page>h1{
    font-size: 2.5rem;
    color: whitesmoke
}
.left__page>h3{
    color: rgb(176, 176, 168);
    font-size: 23px;
}
.specilisaton{
    color: rgb(166, 166, 160);
    font-size: 20px;
    line-height: 1.5;
}
.btn{
    padding: 5px 15px 5px 15px;
    background: transparent;
    border-color: rgb(221, 221, 146);
    color: rgb(221, 221, 146);
}
.btn:hover{
    cursor: pointer;
    background: rgb(21, 21, 21);
}
/* about section */
.about__section{
    width: 90%;
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.about__container{
    display: flex;
}
.p{
    color: rgb(111, 108, 108);
    line-height: 1.7;
    margin-top: 0;
    width: fit-content;
}
.two, .one{
    text-decoration: underline;
}
.about{
    color: rgb(221, 221, 146);
}
.make{
    text-decoration: none;
}
.sth__special{
    color: rgb(149, 149, 66);
    font-size: 16px;
}
/* .skills__section{
    display: flex;
    flex-direction: row;
} */
.skills{
    margin-right: 25px;
}
.fa-js, .fa-react, .fa-css3, .fa-html5, .fa-wordpress, #fa-github{
    color: rgb(221, 221, 146);
    font-size: 18px;
}
.face{
    /* float: left; */
    width: 250px;
    height: 350px;
    margin-top: 7px;
    border-style: inset;
    border-radius: 25px; 
    margin-right: 20px;
    
}
.about__section>p{
    margin-bottom: 10px;
}
/* service section */
.service__section{
    width: 90%;
    margin: 0 auto;
    margin-top: 55px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.service{
    color: rgb(221, 221, 146);
}
.service__contents{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
.service__content2{
    margin-right: 4px;
}
.content__1{
    line-height: 2;
    padding: 0 35px 0 0;
}
.service__content1, .service__content2{
    margin-right: 10px;
}
h4{
    color: rgb(54, 54, 124);
}
.pic{
    width: 250px;
    border-style: outset;
}
.service__content3>.pic{
    height: 160px;
}
.service__content2>.pic{
    height: 160px;
}
.service__content1>.pic{
    height: 160px;
}
/* portfolio section */
.insert_image{
    width: 350px;
    height: 350px;
    border-style: groove;
    border-radius: 10px;
}
.portfolio{
    color: rgb(221, 221, 146);
}
.portfolio__content1{
    position: relative;
    overflow: hidden;
    color: white;
}
.portfolio__section{
    width: 90%;
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.portfolio__contents{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}
.portfolio__content1 img{
    width: 100%;
    display: block;
    border-radius: 10px;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), rgb(205, 205, 149));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    letter-spacing: 1px;
    transition: height 0.5s;
}
.layer h4{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a {
    margin-top: 20px;
    color: rgb(224, 224, 144);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}
.portfolio__content1:hover img{
    transform: scale(1.1);
}
.portfolio__content1:hover .layer{
    height: 100%;
}
.port_header{
    color: #fff;
}
span{
    text-decoration: underline;
}
.btn_port{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid rgb(205, 205, 149);
    padding: 14px 30px;
    border-radius: 6px;
    text-decoration: none;
    color: rgb(205, 205, 149);
    transition: background 0.5s;
    margin-bottom: 10px;
}
.btn_port:hover{
 background: #000;
}
/* Contact Section */
.contact_container{
    width: 90%;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contact_section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.contact_content{
    margin-right: 25px;
}
#name, #email{
    height: 25px;
    width: 500px;
    border-radius: 7px;
    background: rgb(188, 185, 185);
    border: none;
    outline: none;
}
#name{
    margin-bottom: 20px;
}
.button{
    margin-top: 20px;
    padding: 5px 15px 5px 15px;
    background: transparent;
    cursor: pointer;
    border-color: rgb(221, 221, 146);
    color: rgb(221, 221, 146);
    margin-bottom: 20px;
}
.btn2{
    text-decoration: none;
}
.contact_header{
    color: rgb(221, 221, 146);
}
p>i{
    color: rgb(221, 221, 146);
    margin-right: 5px;
}
.social_icons{
    color: rgb(221, 221, 146);
    margin-right: 5px;
    margin-top: 30px;
}
.social_icons a{
    color: rgb(221, 221, 146);
    font-size: 30px;
    display: inline-block;
    transition: transform 0.5s;
}
.social_icons a:hover{
    color: rgb(221, 221, 146);
    transform: translateY(-5px);
}
textarea{
    width: 600px;
    box-sizing: border-box;
    margin-top: 20px;
    padding-bottom: 50px;
    border-radius: 7px;
    border: none;
    background: rgb(194, 191, 191);
    outline: none;
}
/* footer */
footer{
    color: rgb(221, 221, 146);;
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* body responsiveness */
@media only screen and (max-width: 540px){
    body{
        width: 100%;
    }
}
@media only screen and (min-width: 541px) and (max-width: 768px){
    body{
        width: 100%;
    }
}
@media only screen and (min-width: 769px) and (max-width: 960px){
    body{
        width: 100%;
    }
}
@media only screen and (min-width: 961px){
    body{
        width: 100%;
    }
}
/* home responsiveness */
@media only screen and (max-width: 540px){
    .container{
        width: 95%;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: rgb(221, 221, 146);
        margin: 6px 0;
   }
   .nav-bar{
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: black;
    transition: 0.2s;
    overflow: hidden;
   }
   .nav-bar.active {
    height: 450px;
}
   .nav-bar ul{
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
   }
   .nav-bar.active ul{
    opacity: 1;
   }
   .nav-bar ul li a{
    margin-bottom: 12px;
   }
} 
@media only screen and (min-width: 541px) and (max-width: 768px){
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
   }
   .nav-bar{
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: black;
    transition: 0.2s;
    overflow: hidden;
   }
   .nav-bar.active {
    height: 450px;
}
   .nav-bar ul{
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
   }
   .nav-bar.active ul{
    opacity: 1;
   }
   .nav-bar ul li a{
    margin-bottom: 12px;
   }
}
@media only screen and (min-width: 769px) and (max-width: 960px){
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
   }
   .nav-bar{
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: black;
    transition: 0.2s;
    overflow: hidden;
   }
   .nav-bar.active {
    height: 450px;
}
   .nav-bar ul{
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
   }
   .nav-bar.active ul{
    opacity: 1;
   }
   .nav-bar ul li a{
    margin-bottom: 12px;
   }
}
@media only screen and (min-width: 961px){
    .container{
        /* padding: 0 30px; */
        width: 95%;
    }
}
@media only screen and (max-width: 540px){
    .home__page{
        display: flex;
        flex-direction: column-reverse;
        width: 95%;
    }
}
@media only screen and (min-width: 541px) and (max-width: 768px){
    .home__page{
        display: flex;
        flex-direction: column-reverse;
        width: 95%;
    }
}
@media only screen and (min-width: 769px) and (max-width: 960px){
    .home__page{
        display: flex;
        justify-content: space-between;
        width: 95%;
        flex-direction: row;
    }
    .left__page{
        margin-right: 20px;
    }
}
@media only screen and (min-width: 961px){
    .home__page{
        display: flex;
        justify-content: space-between;
        width: 95%;
        flex-direction: row;
    }
    .right__page img{
        margin-left: 20px;
    }
}
/* about responsiveness */
@media only screen and (max-width: 540px){
    .about__container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 95%;
    }
    .about__section{
        width: 95%; 
        font-size: 16px;
        line-height: 1;
        box-shadow: 0px 4px 10px rgba(195, 202, 119, 0.4);
    
    }
    .face{
        width: 220px;
        height: 220px;
    }
    }

@media only screen and (min-width: 541px) and (max-width: 768px){
.about__container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 95%;
}
.about__section{
    width: 95%; 
    font-size: 19px;
    line-height: 1;
    box-shadow: 0px 4px 10px rgba(195, 202, 119, 0.4);

}
.face{
    width: 250px;
    height: 250px;
}
}

@media only screen and (min-width: 769px) and (max-width: 960px){
    .about__container{
       /* display: flex;
        /* flex-wrap: wrap;
        flex-direction: column; */
        width: 95%;
    }
    .about__section{
        width: 95%;
        font-size: 22px;
        line-height: 1;
    }
    .sth__special{
        font-size: 20px;
    }
    .face{
        width: 350px;
        height: 100%;
        border-radius: 15%;
    }
}
@media only screen and (min-width: 961px){
    .about__container{
            width: 95%;
    }
    .about__section{
        width: 95%;
    }
}
/* service responsiveness */
@media only screen and (max-width: 540px){
    .service__contents{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 95%;
        margin-left: 2px;
        font-size: 15px;
    }
    .service__section{
        margin-top: 30px;
        box-shadow: 0px 4px 10px rgba(195, 202, 119, 0.4);
        width: 95%;
    }
}
@media only screen and (min-width: 541px) and (max-width: 768px){
    .service__contents{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 95%;
    }
    .service__section{
        margin-top: 30px;
        font-size: 12px;
        width: 95%;
        box-shadow: 0px 4px 10px rgba(195, 202, 119, 0.4);
    }
}
@media only screen and (min-width: 769px) and (max-width: 960px){
    .service__contents{
        display: flex;
        justify-content: space-between;
        width: 95%;
    }
    .service__section{
        width: 95%;
        margin-top: 30px;
        font-size: 12px;
    }
    .service__content1, .service__content2{
        margin-right: 15px;
    }
}
@media only screen and (min-width: 961px){
    .service__contents{
        width: 95%;
    }
    .service__section{
        width: 95%;
        margin-top: 30px;
    }
}
/* portfolio responsiveness */
@media only screen and (max-width: 540px) {
    .portfolio__section{
        width: 95%;
        box-shadow: 0px 4px 10px rgba(195, 202, 119, 0.4);
    }
}
@media only screen and (min-width: 541px) and (max-width: 768px) {
    .portfolio__section{
        width: 95%;
        box-shadow: 0px 4px 10px rgba(195, 202, 119, 0.4);
    }
}
@media only screen and (min-width: 769px) and (max-width: 960px){
    .portfolio__section{
        width: 95%;
    }
}
@media only screen and (min-width: 961px){
    .portfolio__section{
        width: 95%;
    }
}
/* Contact responsiveness */
@media only screen and (max-width: 540px){
    .contact_section{
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
    }
    .contact_container{
        box-sizing: border-box;
        display: flex;
        width: 95%;
        margin: 0 auto;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 10px rgba(195, 202, 119, 0.4);
    }
    .contact_content{
        /* margin-left: 0; */
        width: 95%;
        margin-bottom: 20px;
        font-size: 13px;
        margin: 0 auto; 
    }
    .contact_input{
        width: 95%;
        box-sizing: border-box;
        margin: 0 auto;
    }
     input, textarea{
        width: 100%;
    }
    #name, #email{
        width: 100%;
    }
}
@media only screen and (min-width: 541px) and (max-width: 768px){
    .contact_section{
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
    }
    .contact_container{
        box-sizing: border-box;
        display: flex;
        width: 95%;
        margin: 0 auto;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 10px rgba(195, 202, 119, 0.4);
    }
    .contact_content{
        margin-left: 0;
        width: 95%;
        margin-bottom: 20px;
        font-size: 13px;
        margin: 0 auto;
    }
    .contact_input{
        width: 95%;
        margin-left: 0;
        box-sizing: border-box;
    }
     input, textarea{
        width: 100%;
    }
    #name, #email{
        width: 100%;
    }
}
@media only screen and (min-width: 769px) and (max-width: 960px){
    .contact_section{
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
    }
    .contact_container{
        box-sizing: border-box;
        display: flex;
        width: 95%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .contact_content{
        margin-left: 0;
        width: 95%;
        margin-bottom: 20px;
        font-size: 13px;
        margin: 0 auto;
    }
    .contact_input{
        width: 95%;
        margin-left: 0;
        box-sizing: border-box;
    }
    input, textarea{
        width: 100%;
    }
    #name, #email{
        width: 100%;
    }
}
@media only screen and (min-width: 961px){
    .contact_section{
        width: 95%;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
     .contact_container{
        display: flex;
        box-sizing: border-box;
        margin-top: 35px;
        width: 95%;
    }
    .contact_input{
        margin-top: 10px;
    }
    #name, #email{
        width: 600px;
        height: 35px;
    }
}
